@import url('file:///Users/zzzeyez/.cache/wal/colors.css');

:root {
  --c0: var(--color0, #222222);
	--c1: var(--color1, #774F38);
	--c2: var(--color2, #E08E79);
	--c3: var(--color3, #F1D4AF);
	--c4: var(--color4, #ECE5CE);
	--c5: var(--color5, #C5E0DC);
}

html {
  min-height: 100%;
  min-width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  scroll-behavior: smooth;
}

body {
  background-color: #151519;
  align-content: center;
  left: auto;
  right: auto;
  margin: auto;
  padding: 0;
}

#sketch {
  width: 100%;
  align-content: center;
  top: 50px;
  left: auto;
  right: auto;
  margin: auto;
  padding: 0;
}
